.container {
    padding: 77px 115px;
}
.cardZone {
  width: 100%; /* Или другой фиксированный размер */
  margin: 0 auto;

    position: relative;
    z-index: 1;
  }

.title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 42px;
    color: #191D28;
    text-transform: uppercase;
}