.container {
    display: flex;
    align-items: center;
    padding: 10px 113px;
justify-content: space-between;
border-bottom: 1px solid silver;
margin-bottom: 30px;
position: fixed;
z-index: 9999999;
top: 0;
left: 0;
width: 100%;
background-color: white;
}

.img {
    /* width: 217px;
    height: 50px; */
    width: 175px;
    height: 35px;
}

.ContainerForListAndBtns{ 
    display: flex;
    gap: 48px;
    align-items: center;
}

.containerList {
    display: flex;
    gap: 25px;
}

.list {
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
    color: #000000;
}

.list:hover{
    color: #76A713;
}

.containerForBtns {
    display: flex;
    gap: 10px;
}

.btnLogin {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #76A713;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnLogin:hover {
    background-color: #94C531;
}

.btn {
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.cartCount {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #76A713;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 10px;
  }