.container {
    position: absolute;
    top: -120px;
    left: 160px;
    display: flex;
    width: 1170px;
    height: 250px;
    background-color: #76A713;
    padding: 48px 102px 45px 0;
}

.containerForImg {
    display: flex;
    justify-content: center;
    align-self: center;
}

.img {
    position: absolute;
    left: -58px;
    top: -120px;
    width: 451px;
    height: 451px;
}

.arrow {
position: absolute;
top: 120px;
left: 420px;
}

.containerWithInfo {
    margin-left: 500px;
}

.title {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.containerForInpAndBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inp {
    margin-top: 10px;
    background-color: transparent;
    width: 370px;
    height: 30px;
    border: none;
    border-bottom: 2px solid #9AD423;
    padding-left: 10px;
    color: #FFFFFF;
    font-weight: 400;
}

.inp::placeholder {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.7;
    color: #FFFFFF;
}

.inp:focus {
outline: none;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: #FF6600;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FF8533;

}