.container {
    transition: all 0.3s ease;
    width: 370px;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.img {
    width: 370px;
height: 250px;
    object-fit: cover;

}



.containerInfo {
max-width: 370px;
padding: 29px 16px;
border: 1px solid #DDDDDD;
border-top: none;
}

.containerInfoHead {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 52px;
}

.icon {
    color: #76A713;
    margin-right: 4px;
    width: 14px;
    height: 14px;
}

.info {
    display: flex;
align-items: center;
font-size: 11px;
font-weight: 500;
margin-bottom: 18px;
}



.title {
    font-family: "Oswald", sans-serif;
    height: 90px;
    font-size: 30px;
    font-weight: 500;
border-bottom: 1px solid #DDDDDD;
overflow: hidden; 
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
text-overflow: ellipsis;
}

.containerUnder {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}

.date {
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 600;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    color: #76A713;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}



.iconArrow {
    color: #76A713;
    width: 20px;
    height: 20px;
}